<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>passes</key>
	<dict>
		<key>head_vel</key>
		<dict>
			<key>inputs</key>
			<dict/>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>head_vel_scene</string>
			</dict>
			<key>metalFragmentShader</key>
			<string>velocity_fragment</string>
			<key>metalVertexShader</key>
			<string>velocity_vertex</string>
			<key>program</key>
			<string>doesntexist</string>
			<key>draw</key>
			<string>DRAW_NODE</string>
			<key>node</key>
			<string>head_vel</string>
		</dict>
		<key>ball_vel</key>
		<dict>
			<key>inputs</key>
			<dict/>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>ball_vel_scene</string>
			</dict>
			<key>metalFragmentShader</key>
			<string>velocity_fragment</string>
			<key>metalVertexShader</key>
			<string>velocity_vertex</string>
			<key>program</key>
			<string>doesntexist</string>
			<key>draw</key>
			<string>DRAW_NODE</string>
			<key>node</key>
			<string>ball_vel</string>
		</dict>
		<key>motion_blur</key>
		<dict>
			<key>inputs</key>
			<dict>
				<key>colorSampler</key>
				<string>gaus_blur_scene</string>
				<key>headVelSampler</key>
				<string>head_vel_scene</string>
				<key>ballVelSampler</key>
				<string>ball_vel_scene</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>COLOR</string>
			</dict>
			<key>metalFragmentShader</key>
			<string>motion_blur_fragment</string>
			<key>metalVertexShader</key>
			<string>motion_blur_vertex</string>
			<key>program</key>
			<string>doesntexist</string>
			<key>draw</key>
			<string>DRAW_QUAD</string>
		</dict>
		<key>head_dis</key>
		<dict>
			<key>inputs</key>
			<dict/>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>head_dis_scene</string>
			</dict>
			<key>metalFragmentShader</key>
			<string>distance_fragment</string>
			<key>metalVertexShader</key>
			<string>distance_vertex</string>
			<key>program</key>
			<string>doesntexist</string>
			<key>draw</key>
			<string>DRAW_NODE</string>
			<key>node</key>
			<string>head_dis</string>
		</dict>
		<key>ball_dis</key>
		<dict>
			<key>inputs</key>
			<dict/>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>ball_dis_scene</string>
			</dict>
			<key>metalFragmentShader</key>
			<string>distance_fragment</string>
			<key>metalVertexShader</key>
			<string>distance_vertex</string>
			<key>program</key>
			<string>doesntexist</string>
			<key>draw</key>
			<string>DRAW_NODE</string>
			<key>node</key>
			<string>ball_dis</string>
		</dict>
		<key>gaus_blur</key>
		<dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>program</key>
			<string>doesntexist</string>
			<key>metalVertexShader</key>
			<string>blur_vertex</string>
			<key>metalFragmentShader</key>
			<string>blur_flagment</string>
			<key>inputs</key>
			<dict>
				<key>colorSampler</key>
				<string>COLOR</string>
				<key>headDisSampler</key>
				<string>head_dis_scene</string>
				<key>ballDisSampler</key>
				<string>ball_dis_scene</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>gaus_blur_scene</string>
			</dict>
		</dict>
	</dict>
	<key>sequence</key>
	<array>
		<string>head_dis</string>
		<string>ball_dis</string>
		<string>gaus_blur</string>
		<string>head_vel</string>
		<string>ball_vel</string>
		<string>motion_blur</string>
	</array>
	<key>symbols</key>
	<dict/>
	<key>targets</key>
	<dict>
		<key>color_scene</key>
		<dict>
			<key>type</key>
			<string>color</string>
		</dict>
		<key>head_vel_scene</key>
		<dict>
			<key>type</key>
			<string>color</string>
		</dict>
		<key>ball_vel_scene</key>
		<dict>
			<key>type</key>
			<string>color</string>
		</dict>
		<key>head_dis_scene</key>
		<dict>
			<key>type</key>
			<string>color</string>
		</dict>
		<key>ball_dis_scene</key>
		<dict>
			<key>type</key>
			<string>color</string>
		</dict>
		<key>gaus_blur_scene</key>
		<dict>
			<key>type</key>
			<string>color</string>
		</dict>
	</dict>
</dict>
</plist>
